  <html lang="es" dir="ltr">
    <head>
      <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
      <meta charset="utf-8">
      <link rel="stylesheet" href="/main.css">
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
    </head>
    <body>
    
      <div class="main">
        <div class="container a-container" id="a-container">
          <form class="form" id="a-form" action="/submit" method="POST">
            <% if(locals.words){ %><br>
              <h2>Words:<%= words %></h2><br>
              <h2>Characters:<%= characterCount.characters %></h2><br>
              <h2>Punctuations: <%= characterCount.punctuation %></h2><br>
              <h2>WhiteSpaces: <%= characterCount.whiteSpace %></h2><br>
              <% }else{ %>
            <h2 class="form_title title">Paste/type your text here</h2>
            <% } %>
            <div class="form__icons">
              <a href="https://www.instagram.com/prashantrewar?utm_source=qr&igsh=MTFremVuejFzdnZpdg==" target="_blank"><img class="form__icon"  src="/instagram.png" alt=""></a>
              <a href="https://www.linkedin.com/in/prashant-rewar-b8785225b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><img class="form__icon" src="/linkedin.png"></a>
              <a href="https://www.facebook.com/share/3bwHDDCQDfSE7C2M/?mibextid=qi2Omg" target="_blank"><img class="form__icon" src="/facebook.png"></a>
            </div>
            <textarea class="form__input" type="text" id="para" name="para" placeholder="type something..."></textarea>
            <span class="form__span">Select a language</span>
            <select name="lang" id="lang">
              <label for="language">Choose a language:</label>
              <option value="-" name="auto">Auto-detect</option>
              <option value="en" name="en">English</option>
              <option value="ch" name="ch">chinese</option>
              <option value="jap" name="jap">Japanese</option>
              <option value="kor" name="kor">Korean</option>
              <option value="th" name="th">Thai</option>
            </select>
            <!-- <input class="form__input" type="text" placeholder="Email">
            <input class="form__input" type="password" placeholder="Password"> -->
            <button type="submit" class="form__button button submit">Check</button>
            
          </form>

        </div>

      <!-- <script src="main.js"></script> -->
    </body>
  </html>


